{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block headextra %}
<link rel='stylesheet' href="{% static 'css/classmenu/base.css' %}">
<script src="{% static 'js/classmenu/base.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&Montserrat&Poppins&Merriweather&Nunito">
{% block headextraextra %}
{% endblock headextraextra %}
{% endblock headextra %}

{% block body %}
<div class="back-box">
    <div class="back-button">
        <i class="bi bi-arrow-bar-left"></i>
        <i class="bi bi-house-door"></i>
    </div>
</div>
{% block messagespace %}
{% endblock messagespace %}
<div class="parent-content">
    {% block bodyextra %}
    {% endblock bodyextra %}
</div>
<script>
    document.body.onload = onBaseLoad();
    var homeURL = "{% url 'home:home-page' %}";
</script>
{% endblock body %}