{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block headextra %}
<link rel='stylesheet' href="{% static 'css/classmenu/base.css' %}">
<script src="{% static 'js/classmenu/base.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&Montserrat&Poppins&Merriweather&Nunito&Roboto">
{% block headextraextra %}
{% endblock headextraextra %}
{% endblock headextra %}

{% block body %}
<div class="back-box">
    <div class="back-button">
        <i class="bi bi-arrow-bar-left"></i>
        <i class="bi bi-house-door"></i>
    </div>
    <div class="more-button">
        <i class="bi bi-three-dots"></i>
    </div>
</div>
<div class="parent-content">
    <div class="nav-bar-box">
        <div class="nav-bar" tabindex="0">
            <div class="item">
                <div class="icon-box">
                    <i class="bi bi-collection"></i>
                </div>
                <span>Class</span>
            </div>
            <div class="item">
                <div class="icon-box">
                    <i class="bi bi-cloud-arrow-up"></i>
                </div>
                <span>Add Assignment</span>
            </div>
            <div class="last-item">
                <i class="bi bi-arrow-right-circle"></i>
            </div>
        </div>
        <div class="nav-puller">
            <i class="bi bi-chevron-right"></i>
        </div>
    </div>
    {% block bodyextra %}
    {% endblock bodyextra %}
</div>
{% block messagespace %}
{% endblock messagespace %}
<script>
    document.body.onload = () => {
        onBaseLoad();
        errorPara = onLoad();
        try {
            onLoadBlock(errorPara);
        } catch(err) {
            console.log(err)
        }
    }
    var homeURL = "{% url 'home:home-page' %}";
</script>
{% endblock body %}