{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}{{ classObj.title }}{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/classmenu/class.css' %}">
<script src="{% static 'js/classmenu/class.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="main-content">
    <div class="item header">
        <div class="date-box">
            <i class="bi bi-info-circle"></i>
            <div class="popup">Created On</div>
            <span>{{ classObj.formatted_date }}</span>
        </div>
        <h1>{{ classObj.title }}</h1>
    </div>
    <div class="item msg-div">
        <div class="dummy-overlay">
            <img src="{{ user.profile_pic_path }}">
            <span>Send a message to the class..</span>
        </div>
        <div class="loading-overlay">
            <div class="spinner"></div>
        </div>
        <div class="real-content">
            <div class="top-bar">
                <p class="error-para"></p>
                <i class="bi bi-x"></i>
            </div>
            <div class="content-box">
                <div class="form">
                    <label>Content..</label>
                    <textarea name='content' maxlength="300"></textarea>
                    <div class="attach-box">
                        {% include 'blocks/attach-files.html' %}
                    </div>
                    <div class="button-box">
                        <button>
                            <i class="bi bi-send"></i>
                            <span>Send</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-messages">
        {% for msgObj in msgObjects %}
            <div class="item recieve-msg">
                <div class="top-bar">
                    <img src="{{ msgObj.user.profile_pic_path }}">
                    {% if msgObj.user == classObj.teacher %}
                        <div class="sender-name" style="color: white; background-color: var(--tertiary-color);">
                            <i class="bi bi-person-fill"></i>
                    {% else %}
                        <div class="sender-name">
                    {% endif %}
                            <span>{{ msgObj.user.username }}</span>
                        </div>
                    {% if msgObj.formatted_date == 'Today' or msgObj.formatted_date == 'Yesterday' %}
                        <div class="date" style="color: var(--tertiary-color)"><span>{{ msgObj.formatted_date }}</span></div>
                        {% else %}
                        <div class="date" style="color: rgb(71, 71, 71)"><span>{{ msgObj.formatted_date }}</span></div>
                    {% endif %}
                    <div class="time"><span>{{ msgObj.time_only }}</span></div>
                </div>
                <div class="content-box">
                    <p>{{ msgObj.content }}</p>
                </div>
                {% if msgObj.urls.all %}
                    <div class="url-msg-box">
                        <div class="header-box">
                            <span>URL's</span>
                        </div>
                        <div class="content-box">
                            {% for urlObj in msgObj.urls.all %}
                                <div class="url-container">
                                    <span><a href="{{ urlObj.url }}" target="_blank">{{ urlObj.url }}</a></span>
                                    <div class="icon-butt" onclick="copyText('{{ urlObj.url }}')">
                                        <i class="bi bi-clipboard"></i>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="right-content" tabindex="0">
    <div class="item class-id">
        <div class="header">Class ID</div>
        <div class="id-box">
            <span>{{ classObj.id }}</span>
            <div class="icon-box" title="copy">
                <i class="bi bi-clipboard"></i>
            </div>
        </div>
    </div>
    <div class="item teacher-details">
        <div class="header">Teacher Details</div>
        <div class="sub-box">
            <img src="{{ classObj.teacher.profile_pic_path }}"></img>
            <div class="name-box"><p>{{ classObj.teacher.username }}</p></div>
        </div>
        <div class="extra-box">
            <div class="bio-box">{{ classObj.teacher.bio }}</div>
        </div>
        {% if classObj.teacher.bio %}
            <div class="extend-div">
                <i class="bi bi-chevron-compact-down"></i>
            </div>
        {% endif %}
    </div>
    <div class="item class-desc">
        <div class="header">Class Description</div>
        <div class="sub-box">
            <div class="desc-box">{{ classObj.description }}</div>
        </div>
    </div>
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}'
</script>
{% endblock bodyextra %}