{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}Class{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/classmenu/class.css' %}">
<script src="{% static 'js/classmenu/class.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="main-content">
    <div class="item header">
        <div class="date-box">
            <i class="bi bi-info-circle"></i>
            <div class="popup">Created On</div>
            <span>{{ classObj.formatted_date }}</span>
        </div>
        <h1>{{ classObj.title }}</h1>
    </div>
    <div class="item msg-div">
        <div class="dummy-overlay">
            <img src="{{ user.profile_pic_path }}">
            <span>Send a message to the class..</span>
        </div>
        <div class="real-content">
            <div class="top-bar">
                <i class="bi bi-x"></i>
            </div>
            <div class="content-box">
                <div class="form">
                    {% csrf_token %}
                    <label>Content..</label>
                    <textarea name='content'></textarea>
                    <div class="attach-box">
                        {% include 'blocks/attach-files.html' %}
                    </div>
                    <div class="button-box">
                        <button>
                            <i class="bi bi-send"></i>
                            <span>Send</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-content">
    <div class="item class-id">
        <div class="header">Class ID</div>
        <div class="id-box">
            <span>{{ classObj.id }}</span>
            <div class="icon-box" title="copy">
                <i class="bi bi-clipboard"></i>
            </div>
        </div>
    </div>
    <div class="item teacher-details">
        <div class="header">Teacher Details</div>
        <div class="sub-box">
            <img src="{{ classObj.teacher.profile_pic_path }}"></img>
            <div class="name-box"><p>{{ classObj.teacher.username }}</p></div>
        </div>
        <div class="extra-box">
            <div class="bio-box">{{ classObj.teacher.bio }}</div>
        </div>
        {% if classObj.teacher.bio %}
            <div class="extend-div">
                <i class="bi bi-chevron-compact-down"></i>
            </div>
        {% endif %}
    </div>
    <div class="item class-desc">
        <div class="header">Class Description</div>
        <div class="sub-box">
            <div class="desc-box">{{ classObj.description }}</div>
        </div>
    </div>
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
</script>
{% endblock bodyextra %}