{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}{{ classObj.title }}{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/classmenu/settings.css' %}">
<script src="{% static 'js/classmenu/settings.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="settings-content">
    <div class="item block-request">
        <span>Block Join Requests</span>
        <div class="switch-container">
            <div class="switch">
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <div class="item class-desc">
        <label>Class Description</label>
        <textarea maxlength="300">{{ classObj.description }}</textarea>
        <div class="error-div"></div>
        <button class="disabled"><span>Save</span><div class="spinner"></div></button>
    </div>
</div>
<div class="item join-req-content">
    <div class="header"><span>Recieved Join Requests</span></div>
    <div class="content-box">
        {% for cls_enrollments in classObj.get_join_requests %}
            <div class="item">
                <span>{{ cls_enrollments.student.username }}</span>
                <div class="accept-button">Accept</div>
                <div class="decline-button">Decline</div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}';
    var classActive = '{{ classObj.active }}';
    var initialClassDesc = '{{ classObj.description }}';
</script>
{% endblock bodyextra %}