{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block headextra %}
<link rel='stylesheet' href="{% static 'css/home/base.css' %}">
<script src="{% static 'js/home/base.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&Montserrat&Poppins&Merriweather">
{% block headextraextra %}
{% endblock headextraextra %}
{% endblock headextra %}

{% block body %}
<div class="nav-bar">
    <div class="content-box" id="home-box">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
    </div>
    <div class="separator"></div>
    <div class="content-box" id="profile-box">
        <i class="bi bi-person-circle"></i>
        <span>Profile</span>
    </div>
    <div class="separator"></div>
    <div class="content-box" id="notification-box">
        <i>
            {% if notifications != False %}
            <div class="counter">{{ notifications }}</div>
            {% else %}
            <div class="counter" style="display: none;"></div>
            {% endif %}
            <i class="bi bi-bell"></i>
        </i>
        <span>Notifications</span>
    </div>
    <div class="separator"></div>
    <div class="content-box" id="settings-box">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
    </div>
</div>

{% block messagespace %}
{% endblock messagespace %}

<div class="parent-content">
    {% block bodyextra %}
    {% endblock bodyextra %}
</div>
<script>
    document.body.onload = onBaseLoad();
    var homeURL = "{% url 'home:home-page' %}";
    var profileURL = "{% url 'home:profile-page' %}";
    var notificationsURL = "{% url 'home:notifications-page' %}";
    var settingsURL = "{% url 'home:settings-page' %}";
</script>
{% endblock body %}