{% extends 'home/base.html' %}
{% load static %}

{% block title %}Create New Class{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/create_new.css' %}">
<script src="{% static 'js/home/create_new.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="sub-container">
    <form method="POST" action=".">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <label>Title</label>
            <input type="text" name="title" id="id_title" required maxlength="80" minlength="5">
            <div class="error-div">{{ title_error }}</div>
        </div>
        <div class="field-parent">
            <label>Description</label>
            <textarea name="description" id="id_description" required maxlength="300" minlength="5"></textarea>
            <div class="error-div">{{ description_error }}</div>
        </div>
        <input type="checkbox" style="display: none;" id="id_active" name="active">
        <div class="checkbox-custom-container">
            <div class="checkbox"><i class="bi bi-check"></i></div>
            <span>Block join requests</span>
        </div>
        <button>Create</button>
    </form>
    <div class="separator"></div>
    <div class="more-details">
        <div class="list-conatiner">
            <ul>
                <li>Every class will be provided with a unique ID.</li>
                <li>Students will be able to send join request using that ID.</li>
                <li>Students are allowed to join the class if the teacher accepts the request.</li>
                <li>These requests will be shown up in the notifications</li>
                <li>You can restrict students from sending join requests by checking 'Block join requests'.</li>
                <li>You can change it later from the settings if needed.</li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}