{% extends 'home/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/home.css' %}">
<script src="{% static 'js/home/home.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="header-container">
    <h1>{{ header }}</h1>
</div>
<div class="main-content">
    <div class="class-box create-new" onclick="location.href = '{{ url_new }}'">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
        <div class="icon-container">
            <i class="bi bi-plus"></i>
        </div>
        <div class="text-area">{{ create_new_title }}</div>
    </div>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}