{% extends 'home/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/home.css' %}">
<script src="{% static 'js/home/home.js' %}"></script>
{% endblock headextraextra %}

{% block messagespace %}
    {% if messages %}
        {% for msg in messages %}
            <style>
                body > .parent-content {
                    height: calc(100% - 140px);
                }
                @media (max-width:415px) {
                    body > .message-div {
                        height: 70px;
                    }
                    body > .parent-content {
                        height: calc(100% - 160px);
                    }
                }
            </style>
            <div class="message-div">
                <i class="bi bi-info-circle-fill"></i>
                <p>{{ msg }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock messagespace %}

{% block bodyextra %}
<div class="header-container">
    <h1>{{ header }}</h1>
</div>
<div class="main-content">
    <div class="class-box create-new" onclick="location.href = '{{ url_new }}'">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
        <div class="icon-container">
            <i class="bi bi-plus"></i>
        </div>
        <div class="text-area">{{ create_new_title }}</div>
    </div>
    <div class="class-box">
        
    </div>
</div>
<script>
    var allColors = ['rgb(255, 104, 104)', 'rgb(68, 196, 255)', 'rgb(255, 196, 0)', 'rgb(74, 255, 201)', 'rgb(173, 111, 255)'];
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}