{% extends 'home/base.html' %}
{% load static %}

{% block title %}Join Class{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/create_new.css' %}">
<script src="{% static 'js/home/join_new.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="sub-container">
    <form method="POST" action=".">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <label>Class ID</label>
            <input type="text" name="class_id" id="id_class_id" required>
            <div class="error-div">{{ class_id_error }}</div>
        </div>
        <button>Request Join</button>
    </form>
    <div class="separator"></div>
    <div class="more-details">
        <div class="list-conatiner">
            <ul>
                <li>A Join Request will be send to the teacher</li>
                <li>You will be admitted as soon as the teacher accepts the request</li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}