{% extends 'home/base.html' %}
{% load static %}

{% block title %}Notifications{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/notifications.css' %}">
<script src="{% static 'js/home/notifications.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="loading-box">
    <div class="spinner"></div>
    <p>Loading..</p>
</div>
<div class="no-network-box">
    <i class="bi bi-wifi-off"></i>
    <p>No Network Connection</p>
    <button onclick="location.href = '/home/notifications/'">Retry</button>
</div>
<div class="left-content">
    <div class="msg-header-item seen">
        <div class="seen-box">
            <div class="ball"></div>
        </div>
        <div class="header-area">
            <p>Join Request Recieved</p>
        </div>
        <div class="date-area">
            <p>Today</p>
        </div>
    </div>
</div>
<div class="right-content"></div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}