{% extends 'home/base.html' %}
{% load static %}

{% block title %}Notifications{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/notifications.css' %}">
<script src="{% static 'js/home/notifications.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="no-network-box">
    <i class="bi bi-wifi-off"></i>
    <p>No Network Connection</p>
    <button onclick="location.href = '/home/notifications/'">Retry</button>
</div>
<div class="left-content"></div>
<div class="right-content">
    <div class="content-box">
        <div class="header"></div>
        <div class="content"></div>
        <div class="date-box">
            <div class="time"></div>
            <div class="date"></div>
        </div>
    </div>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}