{% extends 'home/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/profile.css' %}">
<script src="{% static 'js/home/profile.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="top-box">
    <div class="profile-holder">
        <div class="loading-box">
            <div class="spinner"></div>
        </div>
        <img src="{{ user.profile_pic_path }}">
        <div class="popup-box">
            <i class="bi bi-pencil"></i>
            <label><input disabled type="file" style="display: none; position: fixed; top: -100px;" name="profile_pic" id="profile_pic_id" accept="image/*"><div class="row-one">Change Profile</div></label>
            <label><div class="row-two">Remove Profile</div></label>
        </div>
    </div>
    <p class="error"></p>
</div>
<script>
    var csrftoken = "{{ csrf_token }}";
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}