{% extends 'home/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/profile.css' %}">
<script src="{% static 'js/home/profile.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="top-box">
    <div class="profile-holder">
        <div class="loading-box">
            <div class="spinner"></div>
        </div>
        <img src="{{ user.profile_pic_path }}">
        <div class="popup-box">
            <i class="bi bi-pencil"></i>
            <label><input disabled type="file" style="display: none; position: fixed; top: -100px;" name="profile_pic" id="profile_pic_id" accept="image/*"><div class="row-one">Change Profile</div></label>
            <label><div class="row-two">Remove Profile</div></label>
        </div>
    </div>
    <p class="error"></p>
</div>
<div class="extra-box">
    <div class="content-box">
        {% if user.account_type == 'teacher' %}
            <style>
                .parent-content > .extra-box > .content-box  {
                    grid-template-areas: 'bio bio username'
                        'bio bio account';
                }
            </style>
            <div class="bio-box">
                <div class="spinner"></div>
                <label>Bio</label>
                <textarea maxlength="300">{{ user.bio }}</textarea>
                <button class="disabled">Save</button>
            </div>
        {% endif %}
        <div class="username-box">
            <div class="header">Username</div>
            <div class="ball"></div>
            <span>{{ user.username }}</span>
        </div>
        <div class="account-type-box">
            <div class="header">Account Type</div>
            <div class="ball"></div>
            <span>{{ user.account_type|capfirst }}</span>
        </div>
    </div>
</div>
<script>
    var csrftoken = "{{ csrf_token }}";
    var initialBio = "{{ user.bio }}";
    var accountType = "{{ user.account_type }}";
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}