{% extends 'home/base.html' %}
{% load static %}

{% block title %}Settings{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/home/settings.css' %}">
<script src="{% static 'js/home/settings.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="content-small with-icon">
    <div class="icon-box">
        <i class="bi bi-key"></i>
    </div>
    <div class="title-box">
        <p>Change Password</p>
    </div>
    <div class="button-box">
        <div class="button" onclick=redirect("{% url 'register:change-password' %}")><i class="bi bi-caret-right"></i></div>
    </div>
</div>
<div class="content-small with-icon">
    <div class="icon-box">
        <i class="bi bi-box-arrow-right"></i>
    </div>
    <div class="title-box">
        <p>Logout</p>
    </div>
    <div class="button-box">
        <div class="button" onclick=redirect("{% url 'register:logout' %}")><i class="bi bi-caret-right"></i></div>
    </div>
</div>
<!-- Need to add delete account. In the future.. -->
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}