@keyframes loading-spin {
    0% { 
        transform: rotate(0deg); 
        border-top-color: var(--primary-color);
    }
    30% {border-top-color: var(--secondary-color);}
    50% {
        border-top-color: var(--secondary-color);
        transform: rotate(180deg); 
    }
    70% {border-top-color: var(--secondary-color);}
    100% { 
        transform: rotate(360deg); 
        border-top-color: var(--primary-color);
    }
}