* {
    box-sizing: border-box;
}
:root {
    --primary-color: #022449;
    --secondary-color: #52ab98;
    --secondary-light-color: #96FFFF;
    --secondary-lighter-color: #C8EFF9;
    --tertiary-color: #F27D92;
    --text-color: #757575; 
    --shadow-color: rgba(0, 0, 0, 0.349);
    --shadow-light-color: rgba(0, 0, 0, 0.171);
    --green-color: #00ff00;
    --green-light-color: #83ff83;
    --light-text-color: rgb(230, 230, 230);
    --error-red-color: red;
}
@keyframes on-load-translate-animation {
    from {
        transform: translateY(-8px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}