{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}Correct Submission{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/assignment/correct-specific.css' %}">
<script src="{% static 'js/assignment/correct-specific.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="content-parent">
    {% if messages %}
        {% for msg in messages %}
            <div class="message-box item">
                <i class="bi bi-info-circle"></i>
                <span>{{ msg }}</span>
            </div>
        {% endfor %}
    {% endif %}
    <div class="submission-details">
        <h2 class="section-headers">Submission Details</h2>
        <div class="content-area box">
            <div class="header">Student Name</div>
            <div class="separator"></div>
            <div class="text">{{ submissionObj.student.username|capfirst }}</div>
        </div>
        {% if submissionObj.message %}
            <div class="content-area box">
                <div class="header">Private Message</div>
                <div class="separator"></div>
                <div class="text">{{ submissionObj.message }}</div>
            </div>
        {% endif %}
        {% if submissionObj.files.all.count %}
            <div class="file-area box">
                <div class="header">Files</div>
                <div class="separator"></div>
                <div class="all-files">
                    {% for obj in submissionObj.files.all %}
                        <div class="file-container">
                            <div class="download-butt" onclick="downloadFile('{{ obj.file_location }}')">
                                <i class="bi bi-download"></i>
                            </div>
                            <div class="format-parent">
                                <div class="format-box">
                                    {% if obj.availableIcon %}
                                        <i class="bi bi-filetype-{{ obj.format }}" style="font-size: 25px;"></i>
                                    {% else %}
                                        {{ obj.format }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom-box">
                                <span>{{ obj.file_name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if submissionObj.urls.all.count %}
            <div class="url-area box">
                <div class="header">Urls</div>
                <div class="separator"></div>
                <div class="all-urls">
                    {% for obj in submissionObj.urls.all %}
                        <div class="url-container">
                            <span>
                                <a href="{{ obj.url }}" target="_blank">{{ obj.url }}</a>
                            </span>
                            <div class="icon-butt" onclick="copyText('{{ obj.url }}')">
                                <i class="bi bi-clipboard"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="content-area box">
            <div class="header">Submission Date</div>
            <div class="separator"></div>
            <div class="text">{{ submissionObj.get_ist_date_added }}</div>
        </div>
        <div class="content-area box">
            <div class="header">Punctuality</div>
            <div class="separator"></div>
            {% if submissionObj.is_submitted_on_time %}
                <div class="text" style="color:var(--green-color);">{{ submissionObj.date_due_countdown_missing }} Early</div>
            {% else %}
                <div class="text" style="color:var(--tertiary-color);">{{ submissionObj.date_due_countdown }} Late</div>
            {% endif %}
        </div>

    </div>
    {% if isSubmissionCorrected %}
        <h2 class="section-headers">Review Details</h2>
        <div class="correction-details">
            {% if submissionObj.message %}
                <div class="content-area box">
                    <div class="header">Message</div>
                    <div class="separator"></div>
                    <div class="text">{{ correctionObj.message }}</div>
                </div>
            {% endif %}
            <div class="content-area box">
                <div class="header">Reviewed Date</div>
                <div class="separator"></div>
                <div class="text">{{ correctionObj.get_ist_date_added }}</div>
            </div>
            <div class="content-area box">
                <div class="header">Marks Rewarded</div>
                <div class="separator"></div>
                <div class="text"><span style="color:var(--tertiary-color); font-size:30px;">{{ correctionObj.formatted_given_marks }}</span>/{{ submissionObj.assignment_obj.formatted_total_marks }}</div>
            </div>
            <p>Before You Delete Review:</p>
            <ul>
                <li>You cannot reverse this deletion.</li>
                <li>You can add a review later.</li>
                <li>The details of new review will be independent of this review.</li>
            </ul>
            <div class="error-div"></div>
            <button><span>Delete</span><div class="spinner"></div></button>
        </div>
        {% else %}
        <h2 class="section-headers">Review The Submission</h2>
        <div class="correct-submission">
            <div class="content-area box">
                <div class="header">Total Marks</div>
                <div class="separator"></div>
                <div class="text">{{ submissionObj.assignment_obj.formatted_total_marks }}</div>
            </div>
            <div class="error-div"></div>
            <label>Message</label>
            <textarea name="content"></textarea>
            <label>Rewarding Marks <span style="color:red;">*</span></label>
            <input type="number" name="total-marks" min="0" max="1000" step="0.01">
            <ul>
                <li>Rewarding mark should be less than the total marks.</li>
                <li>Only two decimal places are allowed.</li>
            </ul>
            <button><span>Submit</span><div class="spinner"></div></button>
        </div>
        {% endif %}
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}';
    var classHomeURL = "{{ classObj.get_url }}";
    var submissionID = "{{ submissionID }}";
    var assignmentID = "{{ submissionObj.assignment_obj.encoded_id }}";
    var totalMarkFromBackend = Number("{{ submissionObj.assignment_obj.total_marks }}");
    var correctionID = "{{ correctionObj.encoded_id }}";
    var isSubmissionCorrected = "{{ isSubmissionCorrected }}";
</script>
{% endblock bodyextra %}