{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}More Details{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/assignment/more-details.css' %}">
<script src="{% static 'js/assignment/more-details.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="content-parent">
    <div class="top-area">
        <div class="text-parent">
            <div class="text-left">Total Students</div>
            <div class="text-right">{{ classObj.total_enrolled_students }}</div>
        </div>
        <div class="text-parent">
            <div class="text-left">Total Submissions</div>
            <div class="text-right">{{ assignmentObj.get_total_submission_number }}</div>
        </div>
        <div class="text-parent">
            <div class="text-left">Total Corrections</div>
            <div class="text-right">{{ assignmentObj.get_total_correction_number }}</div>
        </div>
    </div>
    <div class="bottom-area">
        <div class="sort-by-container">
            <span>Sort By</span>
            <div class="carousel-container">
                <div class="arrow left"><i class="bi bi-arrow-left-short"></i></div>
                <div class="carousel-parent">
                    <div class="carousel">
                        <div class="item" id="one">Name</div>
                        <div class="item" id="two">Submission Date</div>
                        <div class="item" id="three">Correction Date</div>
                        <div class="item" id="four">Mark</div>
                    </div>
                </div>
                <div class="arrow right"><i class="bi bi-arrow-right-short"></i></div>
            </div>
        </div>
        <div class="table-container">
            <div class="table">
                <div class="header-area">
                    <div class="name">Name</div>
                    <div class="submitted bool">Submitted</div>
                    <div class="sub-date">Submission Date</div>
                    <div class="corrected bool">Corrected</div>
                    <div class="cor-date">Correction Date</div>
                    <div class="ontime bool">On Time</div>
                    <div class="mark bool">Mark ({{ assignmentObj.formatted_total_marks }})</div>
                </div>
                <div class="loading-parent">
                    <div class="spinner"></div>
                </div>
                <div class="table-item">
                    <div class="name">Ali Shazin</div>
                    <div class="submitted bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="sub-date">17/06/22 08:55 AM</div>
                    <div class="corrected bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="cor-date">17/06/22 08:55 AM</div>
                    <div class="ontime bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="mark bool">10</div>
                </div>
                <div class="table-item">
                    <div class="name">Ali Shazin</div>
                    <div class="submitted bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="sub-date">17/06/22 08:55 AM</div>
                    <div class="corrected bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="cor-date">17/06/22 08:55 AM</div>
                    <div class="ontime bool"><i class="bi bi-check-circle" style="color: var(--green-color);"></i></div>
                    <div class="mark bool">10</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}';
    var classHomeURL = "{{ classObj.get_url }}";
    var assignmentID = "{{ assignmentID }}";
    var totalSubmissions = Number("{{ assignmentObj.get_total_submission_number }}");
</script>
{% endblock bodyextra %}