{% extends 'classmenu/base.html' %}
{% load static %}

{% block title %}Submit Assignment{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/assignment/submit.css' %}">
<script src="{% static 'js/assignment/submit.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="content-parent">
    <div class="assignment-box">
        <div class="content">{{ assignmentObj.content }}</div>
    </div>
    <div class="content-box">
        <div class="error-div attach-file-error-div"></div>
        <label>Attach Files/Urls</label>
        <div class="attach-file-parent">
            {% include 'blocks/attach-files.html' %}
        </div>
        <div class="error-div message-error-div"></div>
        <label>Message</label>
        <textarea name="message"></textarea>
        <button><span>Submit</span><div class="spinner"></div></button>
    </div>
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}';
    var classHomeURL = "{{ classObj.get_url }}";
    var assignmentID = "{{ assignmentID }}";
</script>
{% endblock bodyextra %}