{% extends 'classmenu/base.html' %}
{% load static %}
{% load assignment_extras %}

{% block title %}Submit Assignment{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/assignment/submit.css' %}">
<script src="{% static 'js/assignment/submit.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="content-parent">
    <h2 class="section-headers">Assignment Details</h2>
    <div class="content-area box">
        <div class="header">Content</div>
        <div class="separator"></div>
        <div class="text">{{ assignmentObj.content }}</div>
    </div>
    {% if assignmentObj.files.all.count %}
        <div class="file-area box">
            <div class="header">Files</div>
            <div class="separator"></div>
            <div class="all-files">
                {% for obj in assignmentObj.files.all %}
                    <div class="file-container">
                        <div class="download-butt" onclick="downloadFile('{{ obj.file_location }}')">
                            <i class="bi bi-download"></i>
                        </div>
                        <div class="format-parent">
                            <div class="format-box">
                                {% if obj.availableIcon %}
                                    <i class="bi bi-filetype-{{ obj.format }}" style="font-size: 25px;"></i>
                                {% else %}
                                    {{ obj.format }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="bottom-box">
                            <span>{{ obj.file_name }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if assignmentObj.urls.all.count %}
        <div class="url-area box">
            <div class="header">Urls</div>
            <div class="separator"></div>
            <div class="all-urls">
                {% for obj in assignmentObj.urls.all %}
                    <div class="url-container">
                        <span>
                            <a href="{{ obj.url }}" target="_blank">{{ obj.url }}</a>
                        </span>
                        <div class="icon-butt" onclick="copyText('{{ obj.url }}')">
                            <i class="bi bi-clipboard"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if assignmentObj|is_assignment_submitted_filter:request.user %}
        <div class="not-corrected-parent">
            <div class="time-left"><span><span style="color: #00ff00;">Submitted</span></div>
            <div class="total-marks">Out of <span>{{ assignmentObj.formatted_total_marks }}</span></div>
        </div>
        <h2 class="section-headers">Submission Details</h2>
        {% if assignmentObj|check_submission_message:request.user %}
            <div class="content-area box">
                <div class="header">Private Message</div>
                <div class="separator"></div>
                <div class="text">{{ assignmentObj|get_submission_message:request.user }}</div>
            </div>
        {% endif %}
        <div class="content-area box">
            <div class="header">Submission Date</div>
            <div class="separator"></div>
            <div class="text">{{ assignmentObj|get_submission_date:request.user }}</div>
        </div>
        {% if assignmentObj|check_submitted_files:request.user %}
            <div class="file-area box">
                <div class="header">Files</div>
                <div class="separator"></div>
                <div class="all-files">
                    {% for obj in assignmentObj|get_submitted_files:request.user %}
                        <div class="file-container">
                            <div class="download-butt" onclick="downloadFile('{{ obj.file_location }}')">
                                <i class="bi bi-download"></i>
                            </div>
                            <div class="format-parent">
                                <div class="format-box">
                                    {% if obj.availableIcon %}
                                        <i class="bi bi-filetype-{{ obj.format }}" style="font-size: 25px;"></i>
                                    {% else %}
                                        {{ obj.format }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom-box">
                                <span>{{ obj.file_name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if assignmentObj|check_submitted_urls:request.user %}
            <div class="url-area box">
                <div class="header">Urls</div>
                <div class="separator"></div>
                <div class="all-urls">
                    {% for obj in assignmentObj|get_submitted_urls:request.user %}
                        <div class="url-container">
                            <span>
                                <a href="{{ obj.url }}" target="_blank">{{ obj.url }}</a>
                            </span>
                            <div class="icon-butt" onclick="copyText('{{ obj.url }}')">
                                <i class="bi bi-clipboard"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="content-box delete-submission">
            <p>Before You Delete Submission:</p>
            <ul>
                <li>You can't reverse this change</li>
                <li>You can add new submission later</li>
                <li>Date and time of the new submission will be independent of the removed submission</li>
                <li>Due date of this assignment : {{ assignmentObj.get_ist_date_due }}</li>
            </ul>
            <div class="error-div message-error-div"></div>
            <button><span>Delete</span><div class="spinner"></div></button>
        </div>
    {% else %}
        <div class="not-corrected-parent">
        {% if assignmentObj.is_missing %}
            <div class="time-left"><span><span style="color:red;">(missing)</span> {{ assignmentObj.date_due_countdown_missing }} late</span></div>
        {% else %}
            <div class="time-left"><span>{{ assignmentObj.date_due_countdown }} left</span></div>
        {% endif %}
            <div class="total-marks">Out of <span>{{ assignmentObj.formatted_total_marks }}</span></div>
        </div>
        <h2 class="section-headers">Submission Details</h2>
        <div class="content-box">
            <label>Private Message</label>
            <textarea name="message"></textarea>
            <div class="error-div attach-file-error-div"></div>
            <label>Attach Files/Urls</label>
            <div class="attach-file-parent">
                {% include 'blocks/attach-files.html' %}
            </div>
            <div class="error-div message-error-div"></div>
            <button><span>Submit</span><div class="spinner"></div></button>
        </div>
    {% endif %}
</div>
<script>
    var classIDGlobal = '{{ classObj.id }}';
    var csrftoken = '{{ csrf_token }}';
    var classHomeURL = "{{ classObj.get_url }}";
    var assignmentID = "{{ assignmentID }}";
</script>
{% endblock bodyextra %}