.content-parent {
    overflow: auto !important;
    width: 800px;
    max-width: 100%;
    min-height: 100%;
    padding: 10px 0;
    border: 2px solid #ddd;
    border-bottom: none;
    border-top: none;
}
.content-parent > .message-box {
    background-color: var(--green-light-color);
    padding: 20px;
    display: flex;
    border-radius: 15px;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.content-parent > .message-box > i {
    font-size: 20px;
    width: 30px;
    transform: translateY(1px);
}
.content-parent > .message-box > span {
    width: (100% - 30px);
    font-size: 17px;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .submission-details, .content-parent > .correct-submission, .content-parent > .correction-details {
    padding: 0 20px;
}
.content-parent  h2.section-headers {
    color: black;
    font-size: 15px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--quaternary-color);
}
.content-parent > .submission-details > .box, .content-parent > .correct-submission > .box, .content-parent > .correction-details > .box {
    margin-bottom: 30px;
}
.content-parent > .submission-details > .box > .header, .content-parent > .correct-submission > .box > .header, .content-parent > .correction-details > .box > .header {
    font-size: 14px;
    color: #adadad;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2px;
}
.content-parent > .submission-details > .box > .separator, .content-parent > .correct-submission > .box > .separator, .content-parent > .correction-details > .box > .separator {
    width: 100%;
    height: 1px;
    background-color: #adadad;
    margin-bottom: 10px;
}
.content-parent > .submission-details > .box > .text, .content-parent > .correct-submission > .box > .text, .content-parent > .correction-details > .box > .text {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;    
}
.content-parent > .submission-details > .file-area > .all-files, .content-parent > .submission-details > .url-area > .all-urls {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 243px);
    width: 100%;
    min-height: 25px;
    height: fit-content;
}
.content-parent > .submission-details > .file-area > .all-files > .file-container {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 2px -2px 6px white, -2px 2px 6px var(--shadow-light-color);
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .download-butt {
    border-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: var(--tertiary-color);
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .download-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .format-parent {
    min-height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .format-parent > .format-box {
    max-width: 100%; 
    background-color: var(--tertiary-color);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .bottom-box {
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}
.content-parent > .submission-details > .file-area > .all-files > .file-container > .bottom-box > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    color: var(--text-color);
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container {
    background-color: white;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > span {
    width: calc(100% - 30px);
    padding: 5px 8px;
    color: var(--text-color);
    font-family: "Lato", Calibri, 'Trebuchet MS', sans-serif, monospace;
    height: 100%;
    border-right: none;
    border-radius: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > span {
    width: calc(100% - 30px);
    padding: 5px 8px;
    color: var(--text-color);
    font-family: "Lato", Calibri, 'Trebuchet MS', sans-serif, monospace;
    height: 100%;
    border-right: none;
    border-radius: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > .icon-butt {
    display: none;
    height: 100%;
    width: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > .icon-butt:active {
    opacity: 0.5;
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > .icon-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
.content-parent > .submission-details > .url-area > .all-urls > .url-container > .icon-butt > i {
    transform: translateY(1px);
}
.content-parent > .correct-submission > p, .content-parent > .correction-details > p {
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.content-parent > .correct-submission > ul, .content-parent > .correction-details > ul {
    width: 100%;    
    font-size: 16px;
    color: var(--text-color);
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
.content-parent > .correct-submission > ul > li, .content-parent > .correction-details > ul > li {
    margin-bottom: 10px;
}
.content-parent > .correct-submission > ul > li:last-of-type, .content-parent > .correction-details > ul > li:last-of-type {
    margin: 0;
}
.content-parent > .correct-submission > .error-div {
    margin: 10px 0;
    width: 100%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
.content-parent > .correct-submission > textarea {
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: 2px solid #ddd;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100px;
    margin-bottom: 20px;
}
.content-parent > .correct-submission > label {
    width: 100%;
    font-size: 16px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    color: var(--text-color);
}
.content-parent > .correct-submission > textarea:focus, .content-parent > .correct-submission > input[type="number"]:focus {
    border-color: dodgerblue !important;
}
.content-parent > .correct-submission > textarea.inputted, .content-parent > .correct-submission > input[type="number"].inputted {
    border-color: var(--secondary-color);
}
.content-parent > .correct-submission > input[type="number"] {
    width: 100%;    
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 13px;
    color: var(--text-color);
    border: 2px solid #ddd;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content-parent button {
    position: relative;
    min-height: 35px;
    width: 75px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--tertiary-color);
    margin: 30px 0;
    margin-bottom: 20px;
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}
.content-parent button > .spinner {
    border: 3px solid #00000033;
    border-radius: 50%;
    border-top: 3px solid white;
    width: 24px;
    min-height: 24px;
    animation: loading-spin 1.5s linear infinite;
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    display: none;
}
.content-parent button.loading > .spinner {
    display: block;
}
.content-parent button.loading > span {
    display: none;
}
.content-parent button:not(.loading):hover {
    background-color: var(--tertiary-color);
    color: white;
    cursor: pointer;
}