.content-parent {
    overflow: auto !important;
    width: 800px;
    max-width: 100%;
    min-height: 100%;
    padding: 10px 0;
    border: 2px solid #ddd;
    border-bottom: none;
    border-top: none;
}
.content-parent > .assignment-details {
    padding: 0 20px;
}
.content-parent  h2.section-headers {
    color: black;
    font-size: 15px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--quaternary-color);
}
.content-parent > .assignment-details > .box {
    margin-bottom: 30px;
}
.content-parent > .assignment-details > .box > .header {
    font-size: 14px;
    color: #adadad;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2px;
}
.content-parent > .assignment-details > .box > .separator {
    width: 100%;
    height: 1px;
    background-color: #adadad;
    margin-bottom: 10px;
}
.content-parent > .assignment-details > .box > .text {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;    
}
.content-parent > .assignment-details > .file-area > .all-files, .content-parent > .assignment-details > .url-area > .all-urls {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 243px);
    width: 100%;
    min-height: 25px;
    height: fit-content;
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 2px -2px 6px white, -2px 2px 6px var(--shadow-light-color);
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .download-butt {
    border-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: var(--tertiary-color);
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .download-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .format-parent {
    min-height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .format-parent > .format-box {
    max-width: 100%; 
    background-color: var(--tertiary-color);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .bottom-box {
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}
.content-parent > .assignment-details > .file-area > .all-files > .file-container > .bottom-box > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    color: var(--text-color);
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container {
    background-color: white;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > span {
    width: calc(100% - 30px);
    padding: 5px 8px;
    color: var(--text-color);
    font-family: "Lato", Calibri, 'Trebuchet MS', sans-serif, monospace;
    height: 100%;
    border-right: none;
    border-radius: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > span {
    width: calc(100% - 30px);
    padding: 5px 8px;
    color: var(--text-color);
    font-family: "Lato", Calibri, 'Trebuchet MS', sans-serif, monospace;
    height: 100%;
    border-right: none;
    border-radius: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > .icon-butt {
    display: none;
    height: 100%;
    width: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > .icon-butt:active {
    opacity: 0.5;
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > .icon-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
.content-parent > .assignment-details > .url-area > .all-urls > .url-container > .icon-butt > i {
    transform: translateY(1px);
}
.content-parent > .assignment-details > .not-corrected-parent {
    width: 100%;
    background-color: var(--secondary-color);
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--shadow-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 10px;
}
.content-parent > .assignment-details > .not-corrected-parent > .time-left {
    width: calc(100% - 150px);
    height: 100%;
    background-color: white;
    box-shadow: inset 2px 2px 6px var(--shadow-light-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content-parent > .assignment-details > .not-corrected-parent > .time-left > span {
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-parent > .assignment-details > .not-corrected-parent > .total-marks {
    width: 150px;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content-parent > .assignment-details > .not-corrected-parent > .total-marks > span {
    font-size: 16px;
    text-shadow: -2px 2px 5px var(--shadow-color);
    color: var(--quaternary-color);
}
.content-parent > .recieved-submission-parent {
    box-shadow: 0 0 10px var(--shadow-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content-parent > .recieved-submission-parent > .top-long-box {
    height: 50px;
    border-bottom: 2px solid var(--tertiary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.content-parent > .recieved-submission-parent > .top-long-box > .text {
    font-size: 13px;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: calc(100% - 180px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px var(--shadow-light-color);
    background-color: #ececec89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > .slider {
    position: absolute;
    width: 45%;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    left: 0%;
    border: 1px solid var(--shadow-color);
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > .text {
    font-size: 13px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 1;
    color: var(--shadow-color);
    cursor: pointer;
    transition: color 0.3s;
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > .text.selected {
    cursor: default;
    color: var(--shadow-dark-color);
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > .text:not(.selected):hover {
    color: var(--shadow-dark-color);
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > #text1 {
    width: 45%;
}
.content-parent > .recieved-submission-parent > .top-long-box > .filter-by-box > #text2 {
    width: 55%;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item {
    width: 100%;
    height: 70px;
    background-color: transparent;
    border-bottom: 1px solid var(--shadow-light-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(to right, white 70%, var(--tertiary-color) 100%);
    background-size: 200%;
    background-position-x: 0%;
    overflow: hidden;
    transition: background-position-x 0.2s;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item:last-of-type {
    border-bottom: none;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item:hover {
    background-position-x: 60%;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item > .name {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Lato", Arial, Helvetica, sans-serif;  
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;  
    white-space: nowrap;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item > i {
    position: absolute;
    font-size: 16px;
    right: 40px;
    color: var(--tertiary-color);
    opacity: 0.5;
    transition: right 0.2s, opacity 0.2s;
}
.content-parent > .recieved-submission-parent > .submission-list > .list-item:hover > i {
    opacity: 1;
    background-position-x: 55%;
    right: 25px;
}