.content-parent {
    overflow: auto !important;
    width: 1200px;
    max-width: 100%;
    min-height: 100%;
    padding: 10px 0;
    position: relative;
}
.content-parent > .popup-div {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    width: 150px;
    height: 30px;
    background-color: rgb(238, 238, 238);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    opacity: 0;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: top 0.3s, opacity 0.3s;
}
.content-parent > .popup-div.show {
    top: 30px;
    opacity: 1;
}
.content-parent > .top-area {
    height: 190px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid var(--text-color);
}
.content-parent > .top-area > .text-parent {
    margin-bottom: 20px;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    width: 190px;
}
.content-parent > .top-area > .text-parent > .text-left {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #393939;
    width: 145px;
    min-height: 100%;
    padding-left: 15px;
    display: flex;
    border-radius: 10px 0 0 10px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #393939;
}
.content-parent > .top-area > .text-parent > .text-right {
    color: var(--quaternary-color);
    background-color: #393939;
    min-height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content-parent > .bottom-area {
    height: calc(100% - 190px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.content-parent > .bottom-area > .sort-by-container {
    min-height: 100px;
    width: 100%;
}
.content-parent > .bottom-area > .sort-by-container > span {
    font-size: 16px;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px 0;
    color: var(--text-color);
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container {
    width: 220px;
    margin: auto;
    position: relative;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent {
    width: 100%;
    border-bottom: 2px solid var(--tertiary-color);
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ffb0b0;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    z-index: 1;
    color: #ffb0b0;
    box-shadow: 0 0 4px var(--shadow-light-color);
    top: calc(50% - 12.5px);
    transition: color 0.3s, border-color 0.3s, opacity 0.2s;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow.loading {
    opacity: 0.4;
    cursor: default;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow:not(.loading):hover {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow > i {
    font-size: 22px;
    color: inherit;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow.left {
    left: 5px;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .arrow.right {
    right: 5px;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 770px;
    height: 100%;
    position: relative;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > .item {
    position: absolute;
    color: rgba(0, 0, 0, 0.25);
    top: calc(50% - 9px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    transform: scale(0.8);
    width: fit-content;
    transition: color 0.3s, transform 0.3s;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > .item.selected {
    color: var(--text-color);
    transform: scale(1);
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > #one {
    left: 88px;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > #two {
    left: 190px;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > #three {
    left: 380px;
}
.content-parent > .bottom-area > .sort-by-container > .carousel-container > .carousel-parent > .carousel > #four {
    left: 558px;
}
.content-parent > .bottom-area > .table-container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.content-parent > .bottom-area > .table-container > .table {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    box-shadow: 0 0 10px var(--shadow-light-color);
    border-bottom: 2px solid var(--secondary-color);
    position: relative;
}
.content-parent > .bottom-area > .table-container > .table > .header-area {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 0 15px;
    position: sticky;
    top: 0;
}
.content-parent > .bottom-area > .table-container > .table > .header-area > div:not(.bool) {
    width: calc(100% / 4.5);
}
.content-parent > .bottom-area > .table-container > .table > .header-area > div.bool {
    width: calc(100% / 12);
}
.content-parent > .bottom-area > .table-container > .table > .table-item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 0 15px;
    cursor: default;
    transition: color 0.2s;
}
.content-parent > .bottom-area > .table-container > .table > .table-item.redirect { 
    cursor: pointer !important;
}
.content-parent > .bottom-area > .table-container > .table > .table-item:hover {
    color: var(--secondary-color);
}
.content-parent > .bottom-area > .table-container > .table > .table-item:nth-of-type(odd) {
    background-color: #f3f3f3;
}
.content-parent > .bottom-area > .table-container > .table > .table-item > div, .content-parent > .bottom-area > .table-container > .table > .header-area > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-parent > .bottom-area > .table-container > .table > .table-item > div:not(.bool) {
    width: calc(100% / 4.5);
}
.content-parent > .bottom-area > .table-container > .table > .table-item > div.bool {
    width: calc(100% / 12);
}
.content-parent > .bottom-area > .table-container > .table > .table-item > div.bool > i {
    transition: color 0.2s;
}
.content-parent > .bottom-area > .table-container > .table > .table-item:hover > div.bool > i {
    color: var(--secondary-color) !important;
}
.content-parent > .bottom-area > .table-container > .table > .loading-parent {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
    display: none;
}
.content-parent > .bottom-area > .table-container > .table > .empty-div {
    width: 100%;
    height: 200px;
    /* display: flex; to show */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.content-parent > .bottom-area > .table-container > .table > .empty-div > i {
    color: var(--shadow-color);
    font-size: 80px;
}
.content-parent > .bottom-area > .table-container > .table > .empty-div > span {
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    transform: translateY(-10px);
}
.content-parent > .bottom-area > .table-container > .table > .loading-parent > .spinner {
    border: 3px solid #00000033;
    border-radius: 50%;
    border-top: 3px solid white;
    width: 24px;
    height: 24px;
    animation: loading-spin 1.5s linear infinite;
    position: absolute;
    left: calc(50% - 12px);
    top: -24px;
    transition: top 0.5s;
}
.content-parent > .bottom-area > .table-container > .table > .loading-parent.loading > .spinner {
    top: calc(50% - 12px);
}
.content-parent > .bottom-area > .table-container > .rw-notice {
    padding-bottom: 10px;
    font-size: 12px;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tertiary-color);
    display: none;
}
@media (max-width:950px) {
    .content-parent > .bottom-area > .table-container > .table > .table-item > .sub-date, .content-parent > .bottom-area > .table-container > .table > .table-item > .cor-date, .content-parent > .bottom-area > .table-container > .table > .header-area > .sub-date, .content-parent > .bottom-area > .table-container > .table > .header-area > .cor-date {
        display: none;
    }
    .content-parent > .bottom-area > .table-container > .table > .table-item > div, .content-parent > .bottom-area > .table-container > .table > .header-area > div {
        width: calc(100% / 5) !important;
    }
    .content-parent > .bottom-area > .table-container > .rw-notice {
        display: block;
    }
}
@media (max-width:550px) {
    .content-parent > .bottom-area > .table-container > .table > .table-item > .submitted, .content-parent > .bottom-area > .table-container > .table > .table-item > .corrected, .content-parent > .bottom-area > .table-container > .table > .header-area > .submitted, .content-parent > .bottom-area > .table-container > .table > .header-area > .corrected {
        display: none;
    }
    .content-parent > .bottom-area > .table-container > .table > .table-item > div, .content-parent > .bottom-area > .table-container > .table > .header-area > div {
        width: calc(100% / 3) !important;
    }
}