{% load static %}

<link rel='stylesheet' href="{% static 'css/blocks/attach-files.css' %}">
<script src="{% static 'js/blocks/attach-files.js' %}"></script>
<div class="attach-files-container">
    <div class="top-nav-bar">
        <div class="item selected">
            <i class="bi bi-file-earmark-plus"></i>
            <span>Attach Files</span>
        </div>
        <div class="item">
            <i class="bi bi-link-45deg"></i>
            <span>Attach URLs</span>
        </div>
    </div>
    <div class="separator">
        <div class="inner"></div>
    </div>
    <div class="page-box">
        <div class="page-one">
            <div class='new-file'>
                <label for="file-1-id"></label>
                <i class="bi bi-file-plus"></i>
                <span>New File</span>
            </div>  
            <div class="input-hidden-area">
                <input type="file" name="file-1" id="file-1-id"> 
            </div>
        </div>
        <div class="page-two">
            <div class='new-url'>
                <i class="bi bi-file-plus"></i>
                <span>New URL</span>
            </div>
        </div>
    </div>
</div>