{% extends 'register/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/change_password.css' %}">
<script src="{% static 'js/register/change_password.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <div class="header-container">
        <h1>Change Password</h1>
    </div>
    <form method="POST" action='.'>
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        
        <button>Change</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}