{% extends 'register/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/change_password.css' %}">
<script src="{% static 'js/register/change_password.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <div class="header-container">
        <h1>Change Password</h1>
    </div>
    <form method="POST" action='.'>
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <input type="password" name="old_password" autocomplete="password" required id="id_old_password">
            <label>Old Password</label>
            <div class="error-div">{{ old_pass_error }}</div>
        </div>
        <div class="field-parent">
            <input type="password" name="new_password1" autocomplete="password" required id="id_new_password1">
            <label>New Password</label>
            <div class="error-div">{{ new_pass_error }}</div>
        </div>
        <div class="field-parent">
            <input type="password" name="new_password2" autocomplete="password" required id="id_email">
            <label>Password Confirmation</label>
        </div>
        <button>Change</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}