{% extends 'register/base.html' %}
{% load static %}

{% block title %}Create Account{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/create_initial.css' %}">
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    {% if messages %}
        {% for msg in messages %}
            <div class="message-div">
                <i class="bi bi-info-circle-fill"></i>
                <p>{{ msg }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% include 'register/blocks/progress_line.html' %}
    <div class="header-container">
        <h1>Sign Up</h1>
        <p>As {{ account_for }}</p>
    </div>
    <form method="POST" action=".">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <input type="email" name="email" autocapitalize="none" autocomplete="email" required id="id_email" value="{{ latest_email }}">
            <label>Email</label>
            <div class="error-div">{{ email_error }}</div>
        </div>
        <div class="field-parent">
            <input type="text" name="username" maxlength="30" autocapitalize="none" autocomplete="username" required id="id_username" value="{{ latest_username }}">
            <label>Name</label>
            <div class="error-div">{{ username_error }}</div>
        </div>
        <div class="field-parent">
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
            <label>Password</label>
            <div class="error-div">{{ password_error }}</div>
        </div>
        <div class="field-parent conf-pass-box">
            <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
            <label>Confirm Password</label>
        </div>
        <div class="button-container">
            <p>Already a user? <a href="{% url 'log-in' %}">Log In</a></p>
            <button>NEXT</button>
        </div>
    </form>
</div>
<script src="{% static 'js/register/create_initial.js' %}" onload="onLoad()"></script>
{% endblock bodyextra %}