{% extends 'register/base.html' %}
{% load static %}

{% block title %}Request Password Reset{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/forgot_pass.css' %}">
<script src="{% static 'js/register/forgot_pass.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <div class="header-container">
        <h1>Request Password Reset</h1>
    </div>
    <form method="POST" action='.'>
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
            <label>Email</label>
            <div class="error-div">{{ error }}</div>
        </div>
        <button>Log In</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}