{% extends 'register/base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/forgot_pass.css' %}">
<script src="{% static 'js/register/forgot_pass.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <form method="POST" action='.'>
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
        <p style="color: white;">{{ error }}</p>
        <button>Log In</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}