{% extends 'register/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/log_in.css' %}">
<script src="{% static 'js/register/log_in.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    {% if messages %}
        <style>
            .parent {
                padding-top: 10px;
            }
        </style>
        {% for msg in messages %}
            <div class="message-div">
                <i class="bi bi-info-circle-fill"></i>
                <p>{{ msg }}</p>
            </div>
            <div class="separator"></div>
        {% endfor %}
    {% endif %}
    <div class="header-container">
        <h1>Log In</h1>
    </div>
    <form method="POST" action='.'>
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <input type="email" name="email" autocapitalize="none" autocomplete="email" required id="id_email" value="{{ latest_email }}">
            <label>Email</label>
            <div class="error-div">{{ error_details }}</div>
        </div>
        <div class="field-parent">
            <input type="password" name="password" autocomplete="password" required id="id_password">
            <label>Password</label>
            <div class="forgot-pass-div"><a href="{% url 'register:forgot-password' %}">Forgot Password ?</a></div>
            <div class="eye-container">
                <i class="bi bi-eye"></i>
                <div class="cut-line"></div>
            </div>
        </div>
        <div class="button-container">
            <p>Don't have an account? <a href="{% url 'register:create-account' %}">Sign Up</a></p>
            <button>Log In</button>
        </div>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}