{% extends 'register/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/log_in.css' %}">
<script src="{% static 'js/register/log_in.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <p style="color: red;">{{ request.user }}</p>
    <form method="POST" action='.'>
        {% csrf_token %}
        <button>log in</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}