{% extends 'register/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/reset_password.css' %}">
<script src="{% static 'js/register/reset_password.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <form method="POST" action='.' style="color: white;">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        {{ form }}
        <button>reset</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}