{% extends 'register/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/reset_password.css' %}">
<script src="{% static 'js/register/reset_password.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <form method="POST" action='.' style="color: white;">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><br>
        <div class="error-div">{{ error }}</div>
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><br>
        <button>reset</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}