{% extends 'register/base.html' %}
{% load static %}

{% block title %}Password Reset Email Send{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/reset_pass_send.css' %}">
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <div class="content-container">
        <i class="bi bi-envelope-dash"></i>
        <h2>An email has been send to <span>{{ to_email }}</span> for resetting your password.</h2>
    </div>
</div>
{% endblock bodyextra %}