{% extends 'register/base.html' %}
{% load static %}

{% block title %}Choose A New Password{% endblock title %}

{% block headextraextra %}
<link rel='stylesheet' href="{% static 'css/register/reset_password.css' %}">
<script src="{% static 'js/register/reset_password.js' %}"></script>
{% endblock headextraextra %}

{% block bodyextra %}
<div class="parent">
    <div class="header-container">
        <h1>Choose A New Password</h1>
    </div>
    <form method="POST" action='.' style="color: white;">
        {% csrf_token %}
        {% if general_error %}
            <script>
                alert("{{ general_error }}")
            </script>
        {% endif %}
        <div class="field-parent">
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" minlength="8">
            <label>Password</label>
            <div class="error-div">{{ error }}</div>
        </div>
        <div class="field-parent">
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" minlength="8">
            <label>Password Confirmation</label>
        </div>
        <button>Confirm</button>
    </form>
</div>
<script>
    document.body.onload = onLoad();
</script>
{% endblock bodyextra %}