body {
    position: relative;
    min-height: calc( 100vh - 50px );
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: linear-gradient(#2b677721, transparent 20%);
    background-repeat: no-repeat;
    padding-top: 90px;
}
body > i {
    position: absolute;
    opacity: 0.7;
}
body > #book {
    font-size: 18px;
    left: 20px;
    top: 10px;
    color: var(--primary-color);
    transform: rotateZ(135deg);
    z-index: 1;
}
body > #trophy {
    font-size: 18px;
    left: 80px;
    top: 30px;
    color: var(--primary-color);
    z-index: 1;
}
body > #graph {
    font-size: 20px;
    right: 70px;
    top: 10px;
    color: var(--primary-color);
    z-index: 1;
}
body > #calc {
    font-size: 20px;
    right: 20px;
    top: 30px;
    color: var(--primary-color);
    z-index: 1;
    transform: rotateZ(35deg);
}