.parent {
    width: 450px;
    height: fit-content;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 15px;
    padding: 10px;
}
.parent > .separator {
    margin-top: 20px;
    width: 90%;
    transform: translateX(5%);
    height: 2px;
    border-radius: 5px;
    background-color: var(--secondary-light-color);
}
.parent > .confirmation-container {
    height: fit-content;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: on-load-translate-animation;
    animation-duration: 1s;
}
.parent > .confirmation-container > i {
    font-size: 14px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--green-light-color);
}
.parent > .confirmation-container > p {
    font-size: 14px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.parent > .confirmation-container > p > span {
    color: var(--secondary-light-color);
}
.parent > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;   
}
.parent > form ::-webkit-scrollbar {
    width: 4px;
    overflow: hidden;
}
.parent > form::-webkit-scrollbar-track {
    background: transparent;
}
.parent > form ::-webkit-scrollbar-thumb {
    background: #ffffff79;
    border-radius: 2px;
}
.parent > form ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.parent > form > .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.parent > form > .profile-container > .error-div {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--error-red-color);
    padding: 0 10px;
    margin-bottom: 10px;
}
.parent > form > .profile-container > .image-container {
    position: relative;
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}
.parent > form > .profile-container > .image-container > img {
    border-radius: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.parent > form > .profile-container > .image-container > .check-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: var(--green-light-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}
.parent > form > .profile-container > .image-container > .check-overlay > i {
    font-size: 60px;
    transform: translateY(5px);
}
.parent > form > .profile-container > label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid var(--secondary-light-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}
.parent > form > .profile-container > label > i {
    color: var(--secondary-light-color);
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.3s;
}
.parent > form > .profile-container > label > p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
}
.parent > form > .profile-container > label:hover {
    background-color: var(--secondary-color);
}
.parent > form > .profile-container > label:hover > i {
    color: white;
}
.parent > form > .profile-container > input[type='file'] {
    display: none;
}
.parent > form > .profile-container > .remove-butt {
    color: var(--secondary-light-color);
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.parent > form > .field-parent {
    width: 80%;
    height: fit-content;
    position: relative;
    height: 170px;
    margin-bottom: 10px;
}
.parent > form > .field-parent > label {
    position: absolute;
    z-index: 2;
    color: var(--light-text-color);
    top: 12.7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    left: 10px;
    background-color: var(--primary-color);
    pointer-events: none;
    padding: 0 5px;
    transition: font-size 0.3s, top 0.3s;
}
.parent > form > .field-parent > textarea {
    position: absolute;
    height: 87%;
    width: 100%;
    z-index: 1;
    border-radius: 8px;
    border: 2px solid var(--secondary-color);
    outline: none;
    background-color: transparent;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    transition: border-color 0.3s, color 0.3s;
    resize: none;
    overflow: auto;
}
.parent > form > .field-parent > textarea:focus {
    border-color: var(--tertiary-color);
}
.parent > form > .field-parent > textarea:focus ~ label {
    color: var(--tertiary-color);
}
.parent > form > .field-parent > .error-div {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 13%;
    z-index: 2;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--error-red-color);
    padding: 0 10px;
    padding-top: 5px;
}
form > button {
    padding: 8px 12px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--tertiary-color);
    transition: color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
}
form > button:hover {
    color: white;
    background-color: var(--tertiary-color);
}
@media (max-width:500px) {
    body {
        background-color: var(--primary-color) !important;
    }
    body > i {
        color: var(--secondary-lighter-color) !important;
    }
    .parent {
        box-shadow: none !important;
    }
    .parent > form > .field-parent {
        width: 90%;
    }
}