.parent {
    width: 450px;
    height: fit-content;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 15px;
    padding: 20px 0;
}
/* Change the white to any color */
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0px 1000px var(--primary-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}
@media (max-width:500px) {
    body {
        background-color: var(--primary-color) !important;
    }
    body > i {
        color: var(--secondary-lighter-color) !important;
    }
    .parent {
        box-shadow: none !important;
    }
}