@keyframes loading-spin {
    0% { 
        transform: rotate(0deg); 
        border-top-color: var(--primary-color);
    }
    30% {border-top-color: var(--secondary-color);}
    50% {
        border-top-color: var(--secondary-color);
        transform: rotate(180deg); 
    }
    70% {border-top-color: var(--secondary-color);}
    100% { 
        transform: rotate(360deg); 
        border-top-color: var(--primary-color);
    }
}
body {
    position: relative;
    height: calc( 100vh - 18px );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
}
body > .back-box {
    height: 60px;
    width: 100%;
    max-width: 1510px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--secondary-color);
}
body > .back-box > .back-button {
    position: relative;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.2s, font-size 0.2s;
}
body > .back-box > .back-button > i:last-of-type {
    position: absolute;
    left: calc(100% - 2px);
}
body > .back-box > .back-button:hover {
    color: #ddd;
    font-size: 24px;
}
body > .parent-content {
    height: calc(100% - 60px);
    width: 100%;
    max-width: 1510px;
    background-color: white;
    position: relative;
    overflow: auto;
    border-radius: 0 0 10px 10px;
}
body ::-webkit-scrollbar {
    width: 4px;
    height: 4px;    
    overflow: hidden;
}
body ::-webkit-scrollbar-track {
    background: transparent;
}
body ::-webkit-scrollbar-thumb {
    background: #00000031;
    border-radius: 2px;
}
body ::-webkit-scrollbar-thumb:hover {
    background: #00000065;
}