@keyframes blink-new {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgba(168, 208, 230, 0.3);
    }
    100% {
        background-color: white;
    }
}
body > .parent-content {
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
    overflow: hidden !important;
    padding: 0 20px;
    padding-right: 10px;
    padding-left: 10px;
}
body > .parent-content > .main-content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    overflow: auto;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
}
body > .parent-content > .main-content > .item, body > .parent-content > .main-content > .all-messages > .item {
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
}
body > .parent-content > .main-content > .message-box {
    background-color: var(--green-light-color);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
body > .parent-content > .main-content > .message-box > i {
    font-size: 20px;
    width: 30px;
    transform: translateY(1px);
}
body > .parent-content > .main-content > .message-box > span {
    width: (100% - 30px);
    font-size: 17px;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body > .parent-content > .main-content > .header {
    position: relative;
    background-color: var(--secondary-color);
    box-shadow: 2px -2px 10px white, -2px 2px 10px var(--shadow-color);
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
body > .parent-content > .main-content > .header > .date-box {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--quaternary-color);
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid black;
    animation-name: on-load-translate-animation;
    animation-duration: 1s;
}
body > .parent-content > .main-content > .header > .date-box > .popup {
    display: none;
    position: absolute;
    padding: 5px 8px;
    background-color: white;
    color: rgb(115, 115, 115);
    border-radius: 10px;
    top: -25px;
    z-index: 1;
    box-shadow: 0 0 10px var(--shadow-light-color);
    left: -25px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body > .parent-content > .main-content > .header > .date-box > i {
    color: rgb(100, 100, 100);
    font-size: 20px;
    margin-right: 10px;
}
body > .parent-content > .main-content > .header > .date-box > i:hover ~ .popup {
    display: block;
}
body > .parent-content > .main-content > .header > .date-box > span {
    color: black;
    font-size: 16px;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}
body > .parent-content > .main-content > .header > h1 {
    padding: 0;
    margin: 0;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: var(--quaternary-color);
    text-shadow: 1px 1px 1px rgb(100, 100, 100);
}
body > .parent-content > .main-content > .msg-div {
    height: 80px;
    background-color: white;
    box-shadow: -2px 2px 8px var(--shadow-light-color);
    padding: 0;
    overflow: hidden;
    transition: height 0.3s;
    animation-name: on-load-translate-animation;
    animation-duration: 1s;
}
body > .parent-content > .main-content > .msg-div > .dummy-overlay {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
body > .parent-content > .main-content > .msg-div > .dummy-overlay:hover > span {
    opacity: 0.8;
}
body > .parent-content > .main-content > .msg-div > .dummy-overlay > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
body > .parent-content > .main-content > .msg-div > .dummy-overlay > span {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body > .parent-content > .main-content > .msg-div > .loading-overlay {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
}
body > .parent-content > .main-content > .msg-div > .loading-overlay > .spinner {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid var(--primary-color);
    width: 48px;
    height: 48px;
    animation: loading-spin 1.5s linear infinite;
}
body > .parent-content > .main-content > .msg-div > .real-content {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
body > .parent-content > .main-content > .msg-div > .real-content > .top-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 10px;
}
body > .parent-content > .main-content > .msg-div > .real-content > .top-bar > .error-para {
    width: calc(100% - 30px);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tertiary-color);
}
body > .parent-content > .main-content > .msg-div > .real-content > .top-bar > i {
    color: rgb(119, 119, 119);
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
}
body > .parent-content > .main-content > .msg-div > .real-content > .top-bar > i:hover {
    opacity: 0.8;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
    padding-top: 10px;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 2px solid var(--secondary-color);
    padding: 8px 12px;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: var(--text-color);
    border-radius: 8px;
    overflow: auto;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > label {
    position: absolute;
    left: 13.5px;
    top: 10px;
    font-size: 17px;
    color: rgb(136, 136, 136);
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > .attach-box {
    width: 100%;
    height: calc(100% - 150px);
    margin: 10px 0;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > .button-box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > .button-box > button {
    padding: 8px 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
body > .parent-content > .main-content > .msg-div > .real-content > .content-box > .form > .button-box > button:hover {
    background-color: var(--tertiary-color);
    color: white;
}
body > .parent-content > .main-content > .all-messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg {
    border: 2px solid var(--secondary-color);
    height: fit-content;
    overflow: hidden;
    padding: 0;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar {
    min-height: 60px;
    border-bottom: 1px solid var(--secondary-color);
    transform: translateX(-1px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    padding-right: 10px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .sender-name {
    padding: 5px 12px;
    border-radius: 12px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 130px);
    font-size: 16px;
    color: black;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .sender-name > i {
    margin-right: 5px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .sender-name > span {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    transform: translateY(-1px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
    width: 100px;
    height: 100%;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .time {
    display: flex;
    padding-left: 5px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50px;
    font-size: 16px;
    color: var(--text-color);
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .content-box {
    min-height: 70px;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .content-box:hover {
    background-color: rgba(168, 208, 230, 0.2);
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .content-box > p {
    font-size: 15px;
    color: var(--text-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    text-indent: 10px;
    line-height: 22px;
    word-wrap: break-word;
    overflow: hidden;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box, body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    padding-top: 0;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .header-box, body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .header-box {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .header-box > span, body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .header-box > span {
    padding: 5px 8px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box, body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 243px);
    width: 100%;
    min-height: 25px;
    height: fit-content;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container {
    background-color: white;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container > span {
    width: calc(100% - 30px);
    padding: 5px 8px;
    color: var(--text-color);
    font-family: "Lato", Calibri, 'Trebuchet MS', sans-serif, monospace;
    height: 100%;
    border-right: none;
    border-radius: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container > .icon-butt {
    display: none;
    height: 100%;
    width: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container > .icon-butt:active {
    opacity: 0.5;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container > .icon-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box > .url-container > .icon-butt > i {
    transform: translateY(1px);
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 2px -2px 6px white, -2px 2px 6px var(--shadow-light-color);
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .download-butt {
    border-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: var(--tertiary-color);
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .download-butt:hover {
    color: white;
    background-color: var(--tertiary-color);
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .format-parent {
    min-height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .format-parent > .format-box {
    max-width: 100%; 
    background-color: var(--tertiary-color);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .bottom-box {
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}
body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box > .file-container > .bottom-box > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    color: var(--text-color);
}
body > .parent-content > .main-content > .all-messages > .empty-div {
    background-color: white;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--secondary-color);
}
body > .parent-content > .main-content > .all-messages > .empty-div > .icon-box {
    position: relative;
    font-size: 70px;
    color: var(--text-color);
}
body > .parent-content > .main-content > .all-messages > .empty-div > .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 20px 22px;
    background-color: var(--quaternary-color);
    border: 2px solid black;
}
body > .parent-content > .main-content > .all-messages > .empty-div > .text-box > h2 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: var(--text-color);
}
body > .parent-content > .main-content > .all-messages > .empty-div > .text-box > span {
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body > .parent-content > .right-content {
    width: 100%;
    max-width: 320px;
    height: 100%;
    overflow: auto;
    padding-right: 10px;
    outline: none;
    padding-top: 10px;
    animation-name: on-load-translate-animation;
    animation-duration: 1s;
}
body > .parent-content > .right-content > .item {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
body > .parent-content > .right-content > .class-id {
    height: 160px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}
body > .parent-content > .right-content > .class-id > .header, body > .parent-content > .right-content > .teacher-details > .header, body > .parent-content > .right-content > .class-desc > .header { 
    padding: 10px;
    padding-left: 15px;  
    width: 100%;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid white;
}
body > .parent-content > .right-content > .class-id > .header, body > .parent-content > .right-content > .class-desc > .header {
    color: black;
    border-bottom-color: black;
}
body > .parent-content > .right-content > .class-id > .id-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    justify-self: center;
    padding: 20px;
} 
body > .parent-content > .right-content > .class-id > .id-box > span {
    width: calc(100% - 30px);
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body > .parent-content > .right-content > .class-id > .id-box > .icon-box {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.2s;
}
body > .parent-content > .right-content > .class-id > .id-box > .icon-box:hover {
    opacity: 0.7;
}
body > .parent-content > .right-content > .teacher-details {
    height: 300px; 
    position: relative;
    background-color: var(--tertiary-color);
    overflow: hidden;
    transition: height 0.5s;
}
body > .parent-content > .right-content > .teacher-details > .header {
    height: 47px;
}
body > .parent-content > .right-content > .teacher-details > .sub-box {
    height: fit-content;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
body > .parent-content > .right-content > .teacher-details > .sub-box > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
body > .parent-content > .right-content > .teacher-details > .sub-box > .name-box {
    width: 100%;
    overflow: auto;
    height: fit-content;
}
body > .parent-content > .right-content > .teacher-details > .sub-box > .name-box > p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
}
body > .parent-content > .right-content > .teacher-details > .extra-box {
    margin-top: 4px;
    height: 200px;
    background-color: var(--tertiary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 0;
}
body > .parent-content > .right-content > .teacher-details > .extra-box > .bio-box {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 17px;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
}
body > .parent-content > .right-content > .teacher-details > .extend-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    border-top: 1px solid white;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
body > .parent-content > .right-content > .teacher-details > .extend-div > i {
    color: white;
    font-size: 25px;
    transition: transform 0.5s, opacity 0.2s;
}
body > .parent-content > .right-content > .teacher-details > .extend-div:hover > i {
    opacity: 0.8;
}
body > .parent-content > .right-content > .class-desc {
    height: fit-content;
    background-color: var(--secondary-color);
    overflow: hidden;
    border: 2px solid black;
}
body > .parent-content > .right-content > .class-desc > .header {
    height: 47px;
}
body > .parent-content > .right-content > .class-desc > .sub-box {
    height: fit-content;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
body > .parent-content > .right-content > .class-desc > .sub-box > .desc-box {
    width: 100%;
    height: 100%;
    color: black;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 17px;
    overflow: hidden;
    border-radius: 10px;
}
@media (max-width:900px) {
    body > .back-box > .more-button {
        display: block !important;
    }
    body > .parent-content {
        position: relative !important;
        padding: 0 !important;
    }
    body > .parent-content > .main-content {
        width: 100%;
        margin: 0;
        padding: 0 8px; 
        padding-top: 8px;
    }
    body > .parent-content > .right-content {
        position: absolute;
        right: -100%;
        top: 0;
        max-width: 350px;
        background-color: white;
        padding: 20px;
        z-index: 2;
        box-shadow: -2px 0 10px var(--shadow-light-color);
        transition: right 0.5s;
    }
}
@media (max-width:600px) {
    body > .parent-content > .main-content > .all-messages > .empty-div {
        flex-direction: column;
        justify-content: space-around;
    }
}
@media (max-width:400px) {
    body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > img {
        display: none;
    }
}
@media (max-width:300px) {
    body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar {
        padding: 0 8px;
    }
    body > .parent-content > .main-content > .msg-div > .dummy-overlay > img, body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .date, body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .time {
        display: none !important;
    }
    body > .parent-content > .main-content > .all-messages > .recieve-msg > .top-bar > .sender-name {
        max-width: 100%;
    }
    body > .parent-content > .main-content > .all-messages > .recieve-msg > .url-msg-box > .content-box, body > .parent-content > .main-content > .all-messages > .recieve-msg > .file-msg-box > .content-box {
        grid-template-columns: 100%;
    }
}